<table>
    <thead>
        <tr>
            <th>Model</th>
            <th>Price Per Day</th>
            <th>Rent Expires</th>
        </tr>
    </thead>
    <tbody>
        {{#each cars}}
        <tr>
<<<<<<< HEAD
            <td>{{car.model}}</td>
            <td>{{car.pricePerDay}} &euro;</td>
            <td>{{car.expiresOn}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
=======
            <td>{{model}}</td>
            <td>{{pricePerDay}} &euro;</td>
            <td>In {{expiresIn}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
>>>>>>> a530bef6a0f1863842e254556e0c8259ea06166f
