<<<<<<< HEAD
<form id="search-form" action="/search">
=======
<form id="search-form" action="/car/all">
>>>>>>> a530bef6a0f1863842e254556e0c8259ea06166f
    <!--Chosse criteria for searching-->
    <input type="text" name="model">
    <input class="submit-btn" type="submit" value="Search" />
</form>
<div id="container">
    {{#each cars}}
<<<<<<< HEAD
    <div class="car">
=======
    <div class="car-container">
>>>>>>> a530bef6a0f1863842e254556e0c8259ea06166f
        <h2>{{model}}</h2>
        <img src="{{image}}" alt="car">
        <h2 class="price">Price per day: {{pricePerDay}} &euro;</h2>

        {{#if ../user}}
        <a class="rent-btn" href="/car/rent/{{_id}}">Rent</a>
        {{/if}}

        {{#if ../isAdmin}}
        <a class="edit-btn" href="/car/edit/{{_id}}">Edit</a>
        {{/if}}
    </div>
    {{/each}}
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> a530bef6a0f1863842e254556e0c8259ea06166f
